/* css/styles.css of 2026-09-sep making 2026-sep.bauska.org */
/* was: font-family:'Bradley Hand', cursive, 'OCR A Std', monospace, Helvetica; */
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-sep.bauska.org/images/2025-pretty-girl-bubbies.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#fff;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:20px;  /* 25px; */
}
.week {
  background-color:#ffff00;  /* pure (or mostly pure) yellow, eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 88%;
}

/* World, National & International Days */
.labor {
    background-color:#e893e8;  /* very soft magenta */
}
.intl-bacon {
  background-color: #ff3399;  /* vivid pink */
}
intl-day-of-charity {
  background-color: #9933ff;  /* vivid violet */
}
.cheese-pizza {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.read-a-book {
  background-color: #ff6666;  /* light red */
}
.natl-beer-lovers {
    background-color:#80bfff;  /* very light blue */
}
.star-trek  {
  background-color:#ff80bf;  /* very light pink */
}
.suicide-prevention {
  background-color:#ffbf80;  /* very light orange */
}
.patriot {
  background-color:#ff3399;  /* vivid pink */
}
.grandparents {
  background-color:#3399ff;  /* vivid blue */
}
.day-of-democracy {
  background-color:#ff6666;  /* light red */
}
.ozone {
  background-color:#80bfff;  /* very light blue */
}
.constitution {
  background-color: #ff3399;  /* vivid pink */
}
.cheeseburger {
  background-color:#ff0000;  /* bright red */
}
.talk-like-pirate {
    background-color:#9933ff;  /* vivid violet */
}
.batman {
    background-color:#ff8c1a;  /* vivid orange */
}
.natl-pepperoni-pizza {
    background-color:#ffb21a;  /* vivid orange */
}
.oktoberfest {
    background-color:#ff0000;  /* bright red */
}
.intl-dayofpeace {
    background-color:#9ab3ff;  /* pale blue */
}
.fall {
    background-color:#98fb98;  /* very soft lime green */
}
.voter-registration {
    background-color:#a6f4ff;  /* pale cyan */
}
.natl-comic-book {
    background-color:#00ff00;  /* dark green */
}  
.natl-daughters {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-pancake {
    background-color:#ffff00;  /* yellow */
}
.natl-choc-milk {
    background-color:#d3d3d3;  /* light gray */
}
.natl-drink-beer {
    background-color:#00ff00;  /* dark green */
}
.natl-coffee {
    background-color:#cd00cd;  /* strong magenta */
}
.intl-podcast {
    background-color:#ccff9a;  /* pale green */
}
